<p>
	<strong><%= comment.commenter %></strong> says,
</p>
<p>
	<em>"<%= comment.body %>"</em>
</p>
<p>
	<%= link_to 'Delete', [comment.post, comment],
					method: :delete, data: { confirm: "Are you sure?"},
					type: "button", class: "btn btn-mini btn-danger" %>
</p>