<h1>Posts</h1>

<% @posts.each do |post| %>
	<h2><%= link_to post.title, post_path(post) %></h2>
	<p><%= post.text %></p>
<% end %>
<%= link_to "New Post", new_post_path, type: "button", class: "btn btn-success" %>
<br>