<h1>Related Tweets</h1>

<%= @tweets.each do |tweet| %>
	<p><strong><%= tweet.from_user %></strong> says,</p>
	<p><em>"<%= tweet.text %>"</em></p>
	<br>
<% end %>

<br>
<%= link_to 'Back to Posts', posts_path, type: "button", class: "btn btn-primary" %>